aside{
  background-color: #f7f7f7;
  border-top: 5px solid #1098AD;
  border-bottom: 5px solid #1098AD;
  padding: 20px 40px;
}

aside{
  /* align-self: start; */
   flex: 0 0 300px;
 }


 /* layout aside */

 .related{
   list-style:none;
   margin:0px;
 }

.related-post{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.related-post p{
  margin: 0px;
}


.related-author{
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}

.related-link:link{
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 5px;
  display: block;
}

.related img {
 box-shadow: black 2px 3px 3px;
 border-radius: 10px;

}

h4 {
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}


